@{
    ViewData["Title"] = "Eventos";
}
<div ng-app="App">
    <div>
    <div ng-controller="EventosController">
        <table class="table table-hover" style="cursor:pointer">
            <thead>
                <tr>
                    <th>Evento Id</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evento in eventos" ng-click="eventoClicked(evento)">
                    <td>{{evento.id}}</td>
                    <td>{{evento.descripcion}}</td>
                    <td>{{evento.fecha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>


